@charset "UTF-8";

.option_title {
	display: block;
	font-size: 18px;
	font-weight: 600;
	padding: 16px 0 8px 0;
}

.fee_box {
	display: flex;
	align-items: center;
}

.fee_box .fee {
	font-weight: 600;
}

/* 수량 박스 */

.cnt_box {
	display: flex;
	border: 1px solid var(--point-color);
	height: 48px;
	width: 120px;
	margin-left: auto;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.line_box {
	padding: 20px 10px;
	cursor: pointer;
}

.cnt_box .line {
	width: 20px;
	height: 1px;
	background: var(--point-color);
}

.cnt_box .vertical {
	transform: rotate(90deg);
}

.cnt_box span {
	color: var(--point-color);
}

.fee_number {
	text-align: right;
	color: #aaa;
	padding-top: 6px;
	position: absolute;
    bottom: -24px;
    right: 0;
}

.section:first-child {
	border: 0;
	padding-bottom: 48px;
}

.section {
	padding: 16px 0;
    border-top: 1px solid #d5d4d6;
}

/* 예매자 정보 section */

.member_info {
	width: 100%;
    text-align: left;
    line-height: 28px;
    margin-top: 20px;
}

.member_info th {
	font-weight: 400;
	width: 110px;
}

.member_info td {
	font-weight: 600;
}

/* 결제 방식 */

.magic-radio + label, .magic-checkbox + label {
	line-height: 26px;
	display: block;
	margin-bottom: 10px;
}

.radio_box {
	margin-top: 20px;
}

input[type="submit"] {
	margin-top: 20px;
}

.total_fee {
	color: var(--point-color);
}
